@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Noto+Sans+Ethiopic:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "@splidejs/react-splide/css";

body {
  font-family: "Manrope", sans-serif;
  color: #213547;
}
@media (prefers-color-scheme: light) {
  :root {
    color: rgb(33, 53, 71);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.nav-list {
  font-weight: 600;
}

.colored-text {
  color: #14b789;
}

.btn {
  background-color: #14b789;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.darkNav {
  background-color: rgba(38, 50, 56, 0.3);
  backdrop-filter: blur(1.5rem);
}
.lightNav {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1.5rem);
}
.isClicked {
  border-left: #14b789 2px solid;
  background-color: rgba(20, 183, 137, 0.2);
  border-radius: 2px;
}
.notClickedDark {
  border-left: rgba(255, 255, 255, 0.3) 2px solid;
  color: #ffffff;
}
.notClickedLight {
  border-left: rgba(38, 50, 56, 0.3) 2px solid;
  color: #213547;
}
.timeline {
  background-color: rgba(20, 183, 137, 0.3);
}

@media only screen and (max-width: 768px) {
  .notClickedDark {
    border-bottom: rgba(255, 255, 255, 0.3) 2px solid;
    border-left: none;
  }

  .notClickedLight {
    border-bottom: rgba(38, 50, 56, 0.3) 2px solid;
    border-left: none;
  }

  .isClicked {
    border-bottom: #14b789 2px solid;
    border-left: none;
    background-color: rgba(20, 183, 137, 0.1);
  }
}

.notClickedTestimonialLight {
  background-color: #ffffff;
  filter: drop-shadow(0px 4px 0.8rem rgba(20, 183, 137, 0.15));
}
.notClickedTestimonialDark {
  background-color: #2f3d44;
  filter: drop-shadow(0px 4px 0.8rem rgba(20, 183, 137, 0.15));
}
.inputLight {
  border: rgba(38, 50, 56, 0.5) solid 1px;
  transition-delay: 0.5s;
}
.inputDark {
  background-color: rgba(255, 255, 255, 0.1);
  border: rgba(20, 183, 137, 0.5) solid 1px;
  transition: 0.5s;
}

.inputLight:focus,
.inputDark:focus {
  outline: rgba(20, 183, 137, 1) solid 1px;
  transition-delay: 0.5s;
  transition: 0.5s;
}

#skill {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  opacity: 1;
}

.fade-out {
  animation-name: fade-out;
}

.fade-in {
  animation-name: fade-in;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button {
  background-color: transparent;
}
